<div class="container">

  <% if @short_url.present? %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="form-group">
          <%= text_field_tag :short_url, @short_url, class:'form-control input-lg' %>
        </div>

      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="form-group">
        <%= form_for :link do |f| %>
          <div class="input-group">
            <%= f.text_field :original_url, value: nil, class: 'form-control input-lg', placeholder: 'Paste your original URL here' %>
            <%= console %>
            <span class="input-group-btn">
              <%= f.submit 'Shorten URL', class: 'btn btn-primary btn-lg' %>
            </span>
          </div>
          <% if @link && @link.errors.any? %>
            <p class="danger">Wrong URL.</p>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>